// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
//@import '~mdb-ui-kit/css/mdb.rtl.min.css';
//$grid-breakpoints: (
//        xs: 0,
//        ms: 320px,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px
//);
//
//$container-max-widths: (
//        ms: 320px,
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//        xxl: 1320px
//);
@import "app.rtl";
@import 'animations';
@import 'functions';
@import 'variables';
//@import '~bootstrap/dist/css/bootstrap.rtl.css';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap/scss/variables';
//@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
//@import '~bootstrap/scss/tooltip';
//@import '~mdb-ui-kit/src/scss/mdb.free.scss';
//@import '~bootstrap/scss/navbar';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import 'dashboard';
@import 'card';
@import "~lity/dist/lity.css";
@import "~leaflet";
@import "~leaflet.fullscreen/Control.FullScreen.css";
//@font-face {
//  font-family: Nunito;
//  src: url('https://fonts.googleapis.com/css?family=Nunito');
//
//  font-weight: normal;
//  font-style: normal;
//}

//@font-face {
//  font-family: FontAwesome;
//  src: url('../../resources/fonts/fontawesome/fontawesome-webfont.eot');
//
//  src: url('../../resources/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

* {

    font-family: Tanha /*, Roboto, Tangerine,*/
    , serif !important;

}

strong[id^="err-"], .invalid-feedback {
    font-size: .7rem;
}

input {
    caret-color: $primary;
}

.card-container {

    @include media-breakpoint-down-px(10000px) {
        width: 940px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        .card-width {
            max-width: 230px !important;
        }
    }
    @include media-breakpoint-down-px(1200px) {
        width: 700px !important;

        .card-width {
            width: 230px !important;
        }
    }
    @include media-breakpoint-down-px(750px) {
        width: 490px !important;

        .card-width {
            width: 230px !important;
        }
    }
    @include media-breakpoint-down-px(530px) {
        width: 100% !important;
        .card-width {
            width: 50% !important;
        }
    }
    @include media-breakpoint-down-px(400px) {
        width: 230px !important;
        .card-width {
            width: 230px !important;
        }
    }

}

h5 {
    @include media-breakpoint-up(md) {
        font-size: 1.3em !important;
    }
    @include media-breakpoint-up(sm) {
        font-size: 1.2em !important;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1rem !important;
    }
}

//remove number sign
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    overflow-y: auto;
    //width: auto !important;

}

::-webkit-scrollbar-track {
    border: 4px solid transparent;
    // border color does not support transparent on scrollbar
    // border-color: transparent;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;

}

::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
    width: 0px;
}

.hoverable {

    transition: .3s all ease;

    &:hover {
        background-image: linear-gradient(
                310deg, #7928CA 0%, #FF0080 100%);
        cursor: pointer;
    }
}

@each $prop, $value in $theme-colors {
    .text-#{$prop} {

        color: $value;

    }
    .btn-gradient-#{$prop} {

        @include pb_gradient($value, darken($value, 15%) 100%, 0deg);

    }
    .bg-gradient-#{$prop} {

        @include pb_gradient($value, darken($value, 15%) 100%, 0deg);

    }
    .text-gradient-#{$prop} {

        @include pb_text-gradient(rgba($value, 1) 0, darken($value, 10%) 100%, 0deg);

    }
    .hoverable-text-#{$prop} {
        &:hover {

            @include pb_text-gradient(rgba($value, 1) 0, darken($value, 10%) 100%, 0deg);
            cursor: pointer;
        }

    }
}

@each $prop, $value in $theme-colors {

    .hoverable-#{$prop} {

        transition: .3s all ease;

        &:hover {

            color: white !important;

            background-color: $value !important;

            cursor: pointer;
        }

    }
}

.hoverable-cyan {

    transition: .3s all ease;

    &:hover {
        &:hover {

            color: $primary !important;
            background-color: $cyan !important;
            cursor: pointer;
        }
    }

}

@each $prop, $value in $theme-colors {

    .btn-check:checked + .btn-outline-#{$prop} {
        color: #fff !important;
        background-color: $value;
    }
    .btn-outline-#{$prop} {

        border-color: $value !important;
        color: $value !important;

    }
    .btn-#{$prop} {

        background-color: $value !important;

    }
    .bg-#{$prop} {

        background-color: $value !important;

    }
}

.smaller {
    font-size: 0.775em;
}

.carousel-control-prev-icon:after {
    font-family: swiper-icons;
    content: "next";
}

.carousel-control-next-icon:after {
    font-family: swiper-icons;
    content: 'prev';

}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.bg-blur-primary {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(52, 50, 101, .9) !important;
}


.img-overlay {

    position: absolute !important;
    overflow: hidden;
    z-index: 0;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    content: '▶️' !important;
    font-size: 5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    @include transition(.5s);
    background: rgba(0, 0, 0, 0.6);

    &:hover {
        cursor: pointer;
        opacity: .5 !important;
        @include transition(.5s);
    }

}

.hover-underline {
    position: relative;
    //display: inline;

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        bottom: -5px;
        background: $primary !important;
        color: $primary !important;
        height: 4px;
        transition-property: width;
        //transition-duration: 0.3s;
        //transition-timing-function: ease-out;
        @include transition(0.3s)
    }

    &:hover {
        cursor: pointer;

        &:after {
            right: 0;
            left: auto;
            width: 100%;
        }
    }

    &.active {
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            right: 0;
            left: 0;

            width: 100%;
            bottom: -5px;
            background: $primary;
            height: 4px;
        }
    }
}

.progress-line {
    border-radius: $border-radius;
    background-color: $gray-400;
    display: -webkit-flex;
    display: flex;

    &:before {
        border-radius: $border-radius;
        height: .5rem;
        width: 100%;
        margin: 0;
        background-color: $purple;
        content: '';
        -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    @-webkit-keyframes running-progress {
        0% {
            margin-left: 0px;
            margin-right: 100%;
        }
        50% {
            margin-left: 25%;
            margin-right: 0%;
        }
        100% {
            margin-left: 100%;
            margin-right: 0;
        }
    }

    @keyframes running-progress {
        0% {
            margin-left: 0px;
            margin-right: 100%;
        }
        50% {
            margin-left: 25%;
            margin-right: 0%;
        }
        100% {
            margin-left: 100%;
            margin-right: 0;
        }
    }
}
